/*root and var declared*/
:root {
    --dkblue: #1C304A;
    --medium_blue: #046B99;
    --ciano: #00CFFF;
    --celeste: #B3EFFF;
    --light_celeste: #B3EFFF;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

/*border box model*/
html {
    box-sizing: border-box;
}

/*** Grid-based layout for sticky footer ***/
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

/* Hack to use Swiper within Grid */

body>* {
    overflow: hidden;
    min-width: 0;
}

footer {
    grid-row-start: 2;
    grid-row-end: 3;
}

/* generic styles for the page */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

}

nav li:first-child {
    flex-basis: 100%;
}

nav li {
    flex-basis: 33%;
    text-align: center;
}

nav li:nth-of-type(5),
nav li:nth-of-type(6) {
    flex-basis: auto;
    margin-top: 1rem;
    margin-right: 1rem;
}


nav {
    font-family: var(--mono);
    font-size: 90%;
    padding: 1rem;
    margin: 40px;
}

nav h1 a {
    font-weight: var(--sans);
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--aqua);
}

nav [class*="fa-"]:hover {
    color: var(--celeste);
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--aqua);
}

nav a {
    color: var(--white);
    text-decoration: none;
}




body {
    background-color: var(--dkblue);
    color: var(--white);
    font-size: var(--font-size);

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;


}



a {
    color: var(--light_celeste);
}

a:hover {
    color: var(--aqua);
}


.intro-box {
    margin: 40px;
    padding: 5% 10%;



}

.intro-name {
    color: var(--aqua);
    font-family: var(--mono);
}

/* Projects section*/

h4,
h5 {
    font-family: var(--mono);
}

h4 {
    margin-bottom: 0.5rem;
}

h5 {
    color: var(--light_celeste);
    font-size: 18px;
    text-decoration: underline;
    margin-top: 0.5rem;

}


h2,
h3,
p {
    font-family: var(--sans);
}

.projects-div {
    background-color: var(--medium_blue);

}

.projects-box {
    background-color: rgb(28, 48, 74, 0.5);
    padding: 7%;
    border-radius: 15px;
}

.projects {
    padding: 2% 10%;
    text-align: right;
}

.projects-h2 {
    text-align: left;
}

.project .tecnologies-certifications-list,
.tecnologies-list {
    font-family: var(--mono);
}

.tecnologies-certifications-list dt {
    text-align: right;
    font-size: 20px;
}

.tecnologies-certifications-list dd {
    font-size: 18px;
    text-align: right;
    margin-inline-start: 0;
    margin: 0.5rem 0 2rem 0;

}

.tecnologies-list {
    list-style-type: none;
    font-size: 18px;
}

img {
    margin: 2rem 0 4rem 0;
    padding: 1rem;
    border-left: 2px solid var(--aqua);
    border-top: 2px solid var(--aqua);
    border-radius: 25px;
    max-width: 100%;
}

/* Carousel */

.swiper img {
    width: 640px;
    padding: 0;
}

.swiper-slide {
    text-align: center;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    color: #ffffff;
}

.swiper-pagination-bullet {
    background: #ffffff;
}

/*About&Contact page*/

img.photo.photo {
    width: 50%;
}


/*Gradient*/

.gradient {
    background: linear-gradient(90deg, #ffffff 0%, #00CFFF 100%);
    height: 3px;
}

/*Contact page*/


.contact-box {
    background-color: var(--light_celeste);
    color: black;
    text-align: center;
    min-height: 100vh;
    padding: 0.1%;
}

.contact-box div {
    max-width: 500px;
    margin: 0 auto;
    padding: 1%;
}

.contact-email {
    color: var(--light_celeste);

}



form {
    max-width: 450px;
    margin: 5rem auto;
    border: 2px solid var(--medium_blue);
    border-radius: 5px;
    padding: 2%;
    font-family: var(--mono);
    background-color: #046B99;
    color: #ffffff;
}

form:hover {
    background-color: #ffffff;
    color: #046B99;
}




.button {
    background-color: var(--medium_blue);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--mono);
}

.button:hover {
    color: var(--medium_blue);
    background-color: var(--white);
}

.contact-box img.photo {
    border-left: 2px solid var(--medium_blue);
    border-top: 2px solid var(--medium_blue);
}

form div:not(:last-of-type) {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

form div label {
    text-align: left;
}

form div label:nth-of-type(4) {
    flex-basis: 100%;
}

.input-group:last-of-type input {
    background-color: var(--celeste);
    border-radius: 5px;
    font-family: 'Oxygen Mono';
    color: var(--dkblue);
}

.input-group:last-of-type input:hover {
    background-color: var(--aqua);
}



/* Footer*/

footer {
    margin: 0 auto;
    width: 400px;
    text-align: center;

}

.footer-title {
    font-family: var(--sans);
    margin: 1rem;

}


footer ul {

    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2%;
    font-size: 3rem;
    font-family: var(--sans);
    margin: 1rem;

}

@media screen and (min-width:550px) {
    nav ul {
        flex-flow: row wrap;
        gap: 2rem;

    }

    nav li {
        flex-basis: auto;
    }

    nav li:first-child {
        flex-basis: 100%;
    }


    nav li:nth-of-type(4) {

        margin-right: auto;
    }

    nav li:nth-of-type(5),
    nav li:nth-of-type(6) {
        margin-left: 0;
        margin-top: 0;
    }

}


@media screen and (min-width:800px) {
    .sm-only {
        display: none
    }

    article {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        padding: 5%;
    }

    .projects img {
        grid-column: 1/6;
        grid-row: 1/2;
    }

    .project {
        grid-column: 4/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
    }

    .tecnologies-list {
        justify-content: flex-end;
    }

    /*Reverse article*/

    .reverse-article .project {
        grid-column: 1/8;
        grid-row: 1/2;
        order: 2;
        text-align: left;
    }

    .reverse-article img {
        grid-column: 6/11;
        grid-row: 1/2;
    }

    .reverse-article .tecnologies-list {
        justify-content: flex-start;
    }
}

@media screen and (min-width:900px) {

    nav ul {
        flex-flow: row nowrap;
    }

    nav li {
        flex-basis: auto;
    }

    nav li:nth-of-type(4) {

        margin-right: 0;
    }

    nav li:first-child {
        flex-basis: auto;
        margin-right: auto;
    }

}